/*------------------reset-css-----------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

:root {
    --primary-color: #00b78a;
    --secondary-color: #3490dc;
    --font-family: "Poppins",sans-serif;
    --white: #fff;
}
*, *::before, *::after {box-sizing: border-box;}

* {margin: 0;}

body {line-height: 1.5;-webkit-font-smoothing: antialiased;}

img, picture, video, canvas, svg {display: block;max-width: 100%;}

input, button, textarea, select {font: inherit;}

p, h1, h2, h3, h4, h5, h6 {overflow-wrap: break-word;}

#root, #__next {isolation: isolate;}

i{font-family: FontAwesome;font-style: normal;}

.mx-700 { max-width: 700px!important; }

.btn-check:focus+.btn, .btn:focus{
	box-shadow: none !important;	
}

.form-control:focus { box-shadow: none!important; }

.opacity-70{opacity: 0.7;}

/* flex */
.gridWrapFlex{display: flex !important;white-space: nowrap;align-items: flex-end;gap: 15px;}

.flex-wrap{display: flex;flex-wrap: wrap;}

.flex-center{display: flex;align-items: center;}

.gap-10{gap: 10px;}

p { font-size: 1rem; line-height: 1.74; color: #555; }

a { font-size: 14px; }

.whiteText { color: #fff; }

.flexBetween { display: flex; align-items: center; justify-content: space-between; }

.cursorPointer { cursor: pointer; }

input:focus-visible {outline: none !important;}

body,p, h1, h2, h3, h4, h5, h6,span,label, body table, body th, body td{font-family: var(--font-family); margin-bottom: 0;}


/*-------------Custom-Heading-----------------*/
h1{font-size: 40px;} h2{font-size: 32px;}
h3{font-size: 28px;} h4{font-size: 24px;}
h5{font-size: 20px;} h6{font-size: 18px;}


/*---------button css---------*/

body .btn-primary,body .btn-primary,
.btn-check:focus+.btn-primary, .btn-primary:focus {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  font-weight: 600;
  transition: all .5s ease;
}

.btn-check:focus+.btn-primary, .btn-primary:focus{
  box-shadow: none;
}

.btn.btn-md{
  padding: 9px 21px;
}

body .btn-primary:hover,body .btn-primary:hover{
  background-color: var(--white);
  color: var(--primary-color);
  border-color: var(--primary-color);
}

/*---------button css closed ---------*/

/* common page css */

.page-wrapper .page-content  .sidebarRightContentWrap{
  padding: 40px 40px;
}


/*---------Lang-Css--------*/

.custom-dropdown {position: relative;}

.dropdown-toggle {background: none;border: none;cursor: pointer;display: flex;align-items: center;}

.dropdown-menu {display: none;}

.custom-dropdown:hover .dropdown-menu {display: block;}

.dropdown-item {background: none;}

.dropdown-item:hover {background: #f0f0f0; }

.headerTop .dropdown-menu {left: auto;right: 0;}

.headerTop .custom-dropdown .dropdown-menu{padding: 0px; border: 1px solid rgba(0, 0, 0, .06);}

.headerTop  .custom-dropdown .dropdown-menu button {
     display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width: 46.5%;
    box-shadow: 0 13px 44px 0 rgba(0, 0, 0, .1);
    margin: .6rem .3125rem;
    background-color: #fff;
}

.custom-dropdown .dropdown-top{
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  padding: 1rem 1.25rem;
  width: 321px;
}

.headerTop .langBtnWrap{display: flex;align-items: center;} 

.headerTop .langBtnWrap img{margin-right: 10px;}

.headerTop .custom-dropdown .dropdown-toggle img,
.headerTop .custom-dropdown img{
  width: 25px;
}
.headerTop .custom-dropdown > button{
    height: 44px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transition: all .4s ease;
}
.headerTop .custom-dropdown > button:hover{
    background-color: rgba(0, 0, 0, .14);
}

.headerTop .dropdown-toggle::after {    
  position: absolute;
    opacity: 0;
    z-index: 9;
    top: 16px;
    left: 2px;
    font-size: 40px;}

.custom-dropdown span{color: var(--white);}

.custom-dropdown  .warning {background-color: #ffb70f !important;border-color: #ffb70f !important;}

.custom-dropdown .v-badge {
  display: inline-block;
  padding: .2rem .5rem .1rem;
  font-size: 75%;
  font-weight: 500;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  border-radius: .25rem;
  text-transform: uppercase;
  line-height: 1.5;
}


/*----------form-css-popup---------*/

.addContentModal select.form-control,
.addContentModal textarea { border-radius: 10px;}
.addContentModal .form-control {padding: 10px 20px;border-radius: 10px;}
.addContentModal .form-check label,
.addContentModal .radioBtnWrap label {margin-bottom: 3px;}
.addContentModal .modal-body {padding: 1.5rem;}
.submitBtnWrap .btn {
    max-width: 200px;
    width: 200px;
    border-radius: 100px;
    padding: 13px;
}
@media (min-width: 576px) {
    .addContentModal .modal-dialog {
        max-width: 900px;
        margin: 1.75rem auto;
    }
}


/*----------form-css-popup-closed---------*/



/*---------login-signup-screen-css-------*/

.sessionWrap {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/public/images/login-image.jpg');
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow-y: hidden;
    height: 300px;
    position: relative;
	     z-index: 1;
}
.wrapper.sessionWrap:after {
    position: absolute;
    left: 0;
    content: '';
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
}

.sessionWrap .contact-form-wrap {
    max-width: 490px;
	 width: 100%;
    border-radius: 15px;
	padding: 1rem 2rem;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .07);
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
}

.contact-form-wrap .formField input {
    display: block;
    width: -webkit-fill-available;
    height: auto;
    padding: .8rem 1.2rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .625rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: -moz-available;
}

.contact-form-wrap label{text-transform: capitalize;}

.contact-form-wrap img {
    margin: 0 auto;
    display: inline-block;
    margin-bottom: 20px;
}

.contact-form-wrap .formField {
    margin-bottom: 12px;
}

.contact-form-wrap .buttons {
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact-form-wrap .buttons {
    display: flex;
    gap: 20px;
}

.contact-form-wrap .buttons .btn {
    width: 100%;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-decoration: none;
	background: var(--primary-color);
	border: 1px solid var(--primary-color) !important;
    color: #fff;
    border: none;
    padding: 13px 20px;
    border-radius: 100px;
	 transition: all .3s ease;
}
.contact-form-wrap .buttons .btn:hover {
	background: var(--white);
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
}

.contact-form-wrap .buttons{
	margin-bottom: 24px;
	margin-top: 0;
}

.contact-form-wrap .bottomLineContent a {
    color: var(--primary-color);
    text-decoration: none;
}

.contact-form-wrap .formField label {
    text-align: left;
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.FormTitleImage{
	font-size: 35px;
	font-weight: bold;
	color: var(--primary-color);
	text-align: center;
	padding: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: 'Arial', sans-serif;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.error-msg {
    color: red;
}

.sessionWrap .form-check-input:checked {
    background-color: #007bff; 
    border-color: #007bff; 
}

.sessionWrap .form-check-input {
    width: 1.2em; 
    height: 1.2em;
	 cursor: pointer;
}
.sessionWrap  .form-check-label{
	height: 19px;
}
.sessionWrap .rememberMeText{
	display: flex;
	align-items: center;
	gap: 10px;
}

@media (max-width: 767px) {
    .sessionWrap .contact-form-wrap {
        margin: 0 16px;
        padding: 2rem;
    }
}

/*------login-signup-screen-css-closed-----*/ 